@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'MBC1961GulimM';
    margin: 0;
    padding: 0;
}

body{
    background-repeat : no-repeat;
    background-size : cover;
}

input{
    background-color: #fff;
}